<% layout('layouts/boilerplate') %>
<div class="justify-content-center align-content-center">
    <h1 class="text-center">Image Repository</h1>
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <a href="/images"> <button type="button" class="btn btn-danger">To
                        Images</button></a>
            </div>
        </div>
    </div>

</div>